html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  border: 3px solid #595652;
  background-color: #79756f;
}

h1 {
  font-family: Bevan,monospace;
  text-align: center;
  color: #fff;
  margin: -.1em;
}

a {
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  background-color: #713837;
  padding: .5em .75em;
  margin: .1em;
  list-style-type: none;
}

a:hover {
  color: #f33;
}
