html {
  box-sizing: border-box;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
}

.plants h1 {
  color: #fff;
}

a {

}

a:hover {

}
